Repository biostochastics/qiprng: changes, and which pre-commit hooks are due for each by the changed paths.
All: forbid-to-commit, check-precision-warnings, verify-security

forbid-to-commit:
  name: Don't commit common R artifacts
  entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
  language: fail

check-precision-warnings:
  name: Check for precision loss warnings
  entry: bash -c 'grep -r "PRECISION_WARNING_THRESHOLD\|PRECISION_ERROR_THRESHOLD" src/ | grep -v "static const"'
  language: system
  pass_filenames: false

verify-security:
  name: Verify security enforcement
  entry: bash -c 'grep -q "SECURITY ERROR" src/rcpp_exports.cpp && echo "Security enforcement verified" || (echo "Security enforcement missing!" && exit 1)'
  language: system
  pass_filenames: false

minor fix
  mint.json
  tests/testthat/comprehensive_comparison/test_configuration.json
  tests/testthat/test-deterministic-mode.R
Due: none

mintlified
  .mintignore
  mint.json
  mintlify/DEPLOYMENT.md
  mintlify/README.md
  mintlify/docs.json
  mintlify/mint.json
  tests/testthat/test-deterministic-mode.R
Due: none

Fix Mintlify configuration: resolve navigation structure and redirect issues
  mint.json
  mintlify/mint.json
Due: none

nist-validation
  .gitignore
  README.Md
  mintlify/mint.json
  tests/run_discriminant_validation.R
  tests/testthat/test-all-discriminants.R
  validation/NIST_VALIDATION.md
Due: none

v 0.6.3
  CHANGELOG.md
  NEWS.md
  README.Md
  mint.json
  mintlify/api-reference/cpp-classes/BufferManager.mdx
  mintlify/api-reference/cpp-classes/CryptoMixer.mdx
  mintlify/api-reference/cpp-classes/DistributionGenerator.mdx
  mintlify/api-reference/cpp-classes/EnhancedPRNG.mdx
  mintlify/api-reference/cpp-classes/Matrix2x2.mdx
  mintlify/api-reference/cpp-classes/QuadraticIrrational.mdx
  mintlify/api-reference/cpp-classes/ThreadManager.mdx
  mintlify/api-reference/introduction.mdx
  mintlify/guides/basic-usage.mdx
  mintlify/guides/distributions.mdx
  mintlify/guides/parallel-generation.mdx
  mintlify/guides/performance-tuning.mdx
  mintlify/installation.mdx
  mintlify/introduction.mdx
  mintlify/quickstart.mdx
  mintlify/reference/benchmarks.mdx
  mintlify/reference/changelog.mdx
  mintlify/reference/mathematical-theory.mdx
  mintlify/reference/news.mdx
  mintlify/reference/security.mdx
  mintlify/validation/discriminant-data.mdx
  mintlify/validation/nist-validation.mdx
  scripts/generate_mintlify_complete.R
  scripts/generate_mintlify_docs_fixed.R
  scripts/regenerate_docs.sh
  scripts/test_mintlify_deployment.sh
Due: none

v 0.6.3
  .last_doc_generation
  mint.json
  scripts/generate_all_docs.sh
Due: none

mintlify-docs
  .last_doc_generation
  mintlify/api-reference/r-functions/benchmark_qiprng.mdx
  mintlify/api-reference/r-functions/cleanupPRNG.mdx
  mintlify/api-reference/r-functions/createPRNG.mdx
  mintlify/api-reference/r-functions/generatePRNG.mdx
  mintlify/api-reference/r-functions/generate_excellent_random.mdx
  mintlify/api-reference/r-functions/get_recommended_discriminants.mdx
  mintlify/api-reference/r-functions/jumpAheadPRNG.mdx
  mintlify/api-reference/r-functions/load_excellent_discriminants.mdx
  mintlify/api-reference/r-functions/reseedPRNG.mdx
  mintlify/api-reference/r-functions/test_autocorrelation.mdx
  mintlify/api-reference/r-functions/test_discriminant.mdx
  mintlify/api-reference/r-functions/test_independence.mdx
  mintlify/api-reference/r-functions/test_qiprng.mdx
  mintlify/api-reference/r-functions/test_uniformity.mdx
  mintlify/api-reference/r-functions/updatePRNG.mdx
  mintlify/api-reference/r-functions/validate_qiprng_framework.mdx
  scripts/DOCUMENTATION_PIPELINE.md
  scripts/generate_mintlify_complete.R
  scripts/generate_mintlify_docs.R
  scripts/generate_mintlify_docs_fixed.R
  scripts/roxygen2_to_mintlify_fixed.R
Due: none

delete test drafts
  test_openmp.R
  test_openmp_optimized.R
  test_results.txt
  test_segfault_fix.R
Due: none

feat: Implement lock-free architecture for performance optimization (v0.6.4)
  CHANGELOG.md
  DESCRIPTION
  README.Md
  src/enhanced_prng.cpp
  src/enhanced_prng.hpp
  src/multi_qi.cpp
  src/multi_qi_optimized.cpp
  src/multi_qi_optimized.hpp
  src/quadratic_irrational.cpp
  tests/testthat/comprehensive_comparison/test_configuration.json
Due: check-precision-warnings, verify-security

fix: Complete deterministic mode fixes for perfect reproducibility (v0.6.5)
  CHANGELOG.md
  README.Md
  src/enhanced_prng.cpp
  src/multi_qi.cpp
  src/multi_qi.hpp
  src/multi_qi_optimized.cpp
  src/multi_qi_optimized.hpp
  src/precision_utils.hpp
  src/prng_common.hpp
  src/prng_utils.cpp
  src/prng_utils.hpp
  src/quadratic_irrational.cpp
  src/quadratic_irrational.hpp
  src/quadratic_irrational_jump.cpp
  src/rcpp_exports.cpp
  src/ziggurat_normal.cpp
  tests/testthat/comprehensive_comparison/test_configuration.json
Due: check-precision-warnings, verify-security

chore: Remove Mintlify documentation integration
  package-lock.json
  package.json
  scripts/roxygen2_to_mintlify_fixed.R
  tests/testthat/mintlify/introduction.mdx
Due: none

chore: Add MIGRATION_AGENT_PROMPT.md to gitignore
  .gitignore
Due: none

fix: Code formatting, linting, and test fixes
  R/RcppExports.R
  R/advanced_tests.R
  R/caching_framework.R
  R/discriminant_reports.R
  R/discriminant_tests.R
  R/excellent_discriminants.R
  R/validation_suite.R
  configure
  inst/demos/demo_integrated_system.R
  inst/statisticaltests/validation_reporting.R
  src/extended_distributions.hpp
  src/prng_common.hpp
  src/quadratic_irrational.cpp
  src/thread_pool.hpp
  tests/testthat/comprehensive_comparison/test_configuration.json
  tests/testthat/test-all-discriminants.R
  tests/testthat/test-comprehensive-improvements.R
  tests/testthat/test-data-structure-fixes.R
  tests/testthat/test-external-wrappers.R
  tests/testthat/test-multidim-tests.R
  tests/testthat/test-p-value-adjustment.R
Due: check-precision-warnings, verify-security

chore: Remove obsolete optimization analysis planning doc
  arithmetic_optimization_analysis.md
Due: none

feat: Add cache optimization infrastructure for improved throughput
  NEWS.md
  src/cache_optimized.hpp
  src/multi_qi.cpp
  src/quadratic_irrational.cpp
Due: check-precision-warnings, verify-security

fix: Increase MPFR precision error threshold to accommodate default precision
  R/RcppExports.R
  src/precision_utils.hpp
  src/symbols.rds
  tests/testthat/comprehensive_comparison/test_configuration.json
Due: forbid-to-commit, check-precision-warnings, verify-security

docs: Refactor changelogs to Keep a Changelog semantic format
  .markdownlint.json
  .pre-commit-config.yaml
  CHANGELOG.md
  NEWS.md
Due: none

docs: Remove overstated cryptographic claims, add security considerations
  CONTRIBUTING.md
  DESCRIPTION
  MATH.Md
  R/RcppExports.R
  R/excellent_discriminants.R
  R/prng_interface.R
  R/qiprng-package.R
  R/zzz.R
  README.Md
  man/cleanupPRNG.Rd
  man/createPRNG.Rd
  man/create_excellent_prng_config.Rd
  man/default_config.Rd
  man/dot-onUnload.Rd
  man/generate_excellent_random.Rd
  man/load_excellent_discriminants.Rd
  man/qiprng.Rd
  src/RcppExports.cpp
  src/cache_optimized.hpp
  src/crypto_mixer.cpp
  src/crypto_mixer.hpp
  src/mpfr_pool.hpp
  src/multi_qi_optimized.cpp
  src/multi_qi_optimized.hpp
  src/prng_common.hpp
  src/quadratic_irrational.cpp
  src/quadratic_irrational.hpp
  src/rcpp_exports.cpp
  src/ziggurat_normal.cpp
Due: check-precision-warnings, verify-security

security: Address code review findings for v0.7.3
  CHANGELOG.md
  COMPREHENSIVE_REVIEW_REPORT.md
  DESCRIPTION
  NEWS.md
  src/crypto_mixer.cpp
  src/multi_qi_optimized.cpp
  src/prng_common.hpp
Due: check-precision-warnings, verify-security

chore: Remove review report from tracking, add to gitignore
  .gitignore
  COMPREHENSIVE_REVIEW_REPORT.md
Due: none

docs: Replace What's New section with version history references
  README.Md
Due: none

fix: Address CodeAnt AI code review findings for v0.7.3
  CHANGELOG.md
  NEWS.md
  src/cache_optimized.hpp
  src/multi_qi.cpp
  src/multi_qi_optimized.cpp
  src/precision_utils.hpp
  src/quadratic_irrational.cpp
  src/rcpp_exports.cpp
  src/thread_pool.hpp
Due: check-precision-warnings, verify-security

fix: Improve build configuration, memory safety, and error handling for v0.7.3
  R/bootstrap_framework.R
  R/zzz.R
  configure
  configure.win
  man/bootstrap_framework.Rd
  man/bootstrap_p_value.Rd
  man/qiprng.Rd
  src/prng_common.hpp
  src/rcpp_exports.cpp
  tests/testthat/test-data-structure-fixes.R
Due: check-precision-warnings, verify-security

docs: Add detailed v0.7.3 release notes for code review fixes
  NEWS.md
Due: none

fix: Address additional code review findings for v0.7.3
  NEWS.md
  R/excellent_discriminants.R
  R/validation_suite.R
  src/enhanced_prng.cpp
  src/multi_qi_optimized.cpp
  src/ziggurat_normal.cpp
Due: check-precision-warnings, verify-security

docs: Clean up inline documentation remnants from code reviews
  R/caching_framework.R
  R/discriminant_tests.R
  R/excellent_discriminants.R
  R/prng_interface.R
  R/validation_suite.R
  R/zzz.R
  src/enhanced_prng.cpp
  src/multi_qi.cpp
  src/multi_qi_optimized.cpp
  src/precision_utils.hpp
  src/prng_common.hpp
  src/prng_utils.cpp
  src/prng_utils.hpp
  src/quadratic_irrational.cpp
  src/rcpp_exports.cpp
  src/thread_pool.hpp
  src/ziggurat_normal.cpp
Due: check-precision-warnings, verify-security

chore: Code formatting, documentation regeneration, and cleanup
  DESCRIPTION
  MATH.Md
  NAMESPACE
  R/RcppExports.R
  R/advanced_tests.R
  R/caching_framework.R
  R/discriminant_reports.R
  R/discriminant_tests.R
  R/excellent_discriminants.R
  R/prng_interface.R
  R/qiprng-package.R
  R/quarto_report_generator.R
  R/validation_suite.R
  R/zzz.R
  README.Md
  man/createPRNG.Rd
  man/default_config.Rd
  man/modifyList.Rd
  man/withTimeout.Rd
  src/RcppExports.cpp
  src/code_concat_output.markdown
  src/enhanced_prng_original.cpp.bak
  src/enhanced_prng_original.hpp.bak
  src/prng_config.hpp
  tests/testthat/comprehensive_comparison/test_configuration.json
  tests/testthat/test-data-structure-fixes.R
  tests/testthat/test-external-wrappers.R
Due: check-precision-warnings, verify-security

fix: Update pre-commit hooks for reliable local execution
  .markdownlint.json
  .pre-commit-config.yaml
  R/RcppExports.R
  inst/statisticaltests/comprehensive_generator_comparison.R
  inst/statisticaltests/comprehensive_reporting.R
  inst/statisticaltests/comprehensive_visualizations.R
  src/RcppExports.cpp
Due: check-precision-warnings, verify-security

Path conditions:
  forbid-to-commit: any of: \.(Rhistory|RData|Rds|rds)$
  check-precision-warnings: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
  verify-security: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$
